name: Publish
on:
  workflow_dispatch:
    inputs:
      pull_request_number:
        description: Pull request number
        required: true
jobs:
  publish-bottles:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: none
      pull-requests: write
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          ref: main

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Set up git
        uses: Homebrew/actions/git-user-config@master

      - name: Pull bottles
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ github.token }}
          HOMEBREW_GITHUB_PACKAGES_TOKEN: ${{ github.token }}
          HOMEBREW_GITHUB_PACKAGES_USER: ${{ github.actor }}
          PULL_REQUEST: ${{ github.event.inputs.pull_request_number }}
        run: brew pr-pull --debug --tap="$GITHUB_REPOSITORY" "$PULL_REQUEST" --workflows test-and-build.yml

      - name: Push commits
        uses: Homebrew/actions/git-try-push@master
        with:
          token: ${{ github.token }}
          branch: main

      - name: Delete branch
        run: gh pr close ${{ github.event.inputs.pull_request_number }} --delete-branch
        env:
          GH_TOKEN: ${{ github.token }}