name: Build and test
on:
  pull_request:
  workflow_dispatch:
    inputs:
      pull_request_number:
        description: 'Pull request number'
        required: true
        type: number
jobs:
  check-for-label:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      has-label: ${{ steps.check-for-label.outputs.has-label }}
    steps:
      - name: Check for label
        id: check-for-label
        run: |
          PR_NUMBER=${{ github.event.number || inputs.pull_request_number }}
          LENGTH=$(gh pr view $PR_NUMBER --repo knope-dev/homebrew-tap --json labels --jq '.labels[] | select(.name = "release") | length')
          if [ -z "$LENGTH" ]; then
              echo "has-label=false" >> "$GITHUB_OUTPUT"
          else
              echo "has-label=true" >> "$GITHUB_OUTPUT"
          fi
        env:
          GH_TOKEN: ${{ github.token }}

  test-formula-and-build-bottles:
    needs:
      - check-for-label
    if: needs.check-for-label.outputs.has-label == 'true'
    strategy:
      matrix:
        os: [ubuntu-latest, macos-14]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Cache Homebrew Bundler RubyGems
        id: cache
        uses: actions/cache@v5
        with:
          path: ${{ steps.set-up-homebrew.outputs.gems-path }}
          key: ${{ runner.os }}-rubygems-${{ steps.set-up-homebrew.outputs.gems-hash }}
          restore-keys: ${{ runner.os }}-rubygems-

      - run: brew test-bot --only-cleanup-before

      - run: brew test-bot --only-setup

      - run: brew test-bot --only-tap-syntax

      - run: brew test-bot --only-formulae

      - name: Upload bottles as artifact
        uses: actions/upload-artifact@v6
        with:
          name: bottles_${{ matrix.os }}
          path: '*.bottle.*'

  trigger-publish: # Publish has to be in a different workflow, so we trigger it here
    needs: test-formula-and-build-bottles
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Trigger publish
        run: gh workflow run Publish --repo knope-dev/homebrew-tap -f pull_request_number=${{ github.event.number || inputs.pull_request_number }}
        env:
          GH_TOKEN: ${{ github.token }}
